#mainboard, #nicknameboard, #highscoreboard, #loserboard {
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 10px dotted #2cd13f;
    background: #637336;
    width: 1000px;
    height: 360px;

}

#loserboard, #next {
    display: none;
}

#highscoreboard, #mainboard {
    display: none;
}
#question {
    color: white;
    font-size: 29px;
    font-family: 'Tillana', cursive;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}

#answer, #nickname, #highscore {
    color: white;
    font-size: 29px;
    font-family: 'Tillana', cursive;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
}

#answerfield, #nicknamefield {

    font-size: 30px;
    font-family: 'Tillana', cursive;

}

#losertext {
    font-size: 25px;
    font-family: 'Tillana', cursive;
    color: white;
    text-align: center;
}

#submit, #next, #begin, #redo {
    color: white;
    background-color: #2cd13f;
    text-align: center;
    font-size: 13px;
    position: inherit;
    height: 80%;
    width: 20%;
}



#redo {
    height: 10%;
    margin-left: 350px;
}

#victory {
    float: right;
}

#countdown {
 float: right;
 margin-right: 45px;
 margin-top: 20px;
 color: white;
 font-size: 29px;
 font-family: 'Tillana', cursive;
 border-radius: 5px 5px 5px 5px;
}

